<app-header [title]="appTitle"></app-header>  
<div class="app-container container-fluid">
  <!-- <div class="col-sm-3">
    <app-sidebar></app-sidebar>
  </div> -->
  <div class="app-main">
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        <app-list [items]="result"></app-list>
    </div>
  </div>  
      
  <!-- <app-meeting-dashboard [rowData]="rowData"></app-meeting-dashboard> -->
</div>
<app-footer></app-footer>